*~
*.bak
*.o
*.d
*.so
*.mod
*.lo
*.in
Makefile
configure
*.mk
*.pc
config.*
.deps
.libs
*.la
libtool
ltmain.sh
missing
stamp-h1
depcomp
aclocal.m4
autom4te.cache
install-sh
makefile
doxygen-doc
build/
__pycache__
#*#
.#*
.DS_Store
todel
*.nc
*.png
